body {
	margin:0 auto;
	width: 90%;
	display: block;
}

input {
	display: block;
	margin: 20px auto;
}

header {
	background-color: blue;
	margin: 0 0;
	padding: 30px;
}

h1 {
	color: white;
	font-size: 3em;
	margin: 0 0;
}

h2 {
	font-size: 2em;
	margin-top:30px;
	grid-column: 1/2;
	grid-row: 1/2;
}

label {
	display: block;
	margin: 0 auto;
	width: 10em;
	text-align: center;
}

form {
	display: block;
	margin: 100px;
}

#errormsg {
	text-align: center;
	color: red;
}

#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 50px auto;
}

#todo {
	grid-column: 1/2;
	grid-row: 3/4;
	background-color: black;
	padding: 30px;
}

#todosub {
	width: 500px;
	height: 100px;
	resize: none;
}

.itemtitre {
	font-size: 1.3em;
	font-weight: bold;
	color: grey;
	padding: 30px;
	margin: 0px 0px;
}

.itemdesc {
	color: white;
	padding: 30px;
	margin: 0px 0px;
	background-color: rgba(100,100,100,0.5);
}

.hover:hover {
	background-color: rgba(100,100,100,0.5);
}